img {
    border-radius: 50%;
}

p {
    color: red;
}

h2 {
    color: rgb(0, 50, 73);
}

@font-face {
    font-family: TempestaSevenCondensed;
    src: url("fonts/Typold-Book500.otf") /* EOT file for IE */
}