@font-face { font-family: Alata; src: url('fonts/Alata-Regular.ttf'); } 
@font-face { font-family: Alata; font-weight: bold; src: url('fonts/Alata-Regular.ttf');}

div {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 50%;
}

p {
    color: red;
}

h1 {
    color: rgb(0, 50, 73);
    font-family: Alata, sans-serif;
}
